FRONTEND_URL=front_end_url
BACKEND_URL=backend_url
PORT=server_port
NODE_ENV=development_or_production
ALLOWED_ORIGIN=front_end_origin
PRODUCTION=True_or_False
MAINTENANCE_MODE=true_or_false
MONGO_DATABASE_HOST=mongodb_host_server
MONGO_DATABASE_NAME=database_name
MONGO_DATABASE_URI=full_mongodb_database_uri
RESEND_EMAIL_DOMAIN=resend_email_domain
RESEND_API_KEY=resend_api_key
COACHING_PRODUCT_NAME=coaching_product_name
COACHING_PRICE_ID=coaching_product_price_id
NEWDOOR_COACHING_PRICE_ID=newdoor_coaching_product_price_id
SELF_GUIDED_PRODUCT_NAME=self_guided_product_name
SELF_GUIDED_PRICE_ID=self_guided_product_price_id
TOTUR_EMAIL=coaching_totur_contact_email
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET_KEY_TEST=stripe_test_webhook_signing_secret
STRIPE_WEBHOOK_SECRET_KEY_LIVE=stripe_live_webhook_signing_secret
OPEN_API_KEY=your_open_api_key
TOKEN_SECRET_KEY=access_token_secret_key
REFRESH_TOKEN_SECRET_KEY=refresh_token_secret_key
TRUE_LOVE_GOOGLE_CLIENT_ID=google_cloud_client_id
TRUE_LOVE_GOOGLE_CLIENT_SECRET=google_cloud_secret_id
GOOGLE_OAUTH2_ENDPOINT=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_REQUEST_URL=https://oauth2.googleapis.com/token
REDIS_HOST=for_local_redis_host
REDIS_PORT=6379
REDIS_URL=remote_redis_host_url
ADMIN_ACCESS_KEY=admin_access_key



